@import '../../../../styles/variables';

.box {
	cursor: pointer;
	* {
		cursor: pointer;
	}
	&:hover {
		border-left-color: #d198d4;
		background: #ccc;
	}
	&:focus,
	&:active {
		background: #d198d4;
	}
	&.active {
		border-left-color: yellowgreen !important;
	}
}
