@import '../../../../styles/variables';

:host {
	.content {
		padding: 0;
		padding-left: 1rem;
	}
	.subtitle,
	.presentation {
		.columns {
			margin-left: 0;
		}
		.column {
			padding-left: 0;
		}
	}

	.landing-box {
		padding: 6em 0;
		color: $primary_color;
		min-height: 80vh;
	}

	a .fa {
		margin-right: 1ch;
	}

	.home-content {
		.title,
		.subtitle {
			color: $secondary_color;
		}
	}
}

.search {
	.search-description {
		margin: 2rem 0;
	}
}
